.header_container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: rgb(30, 29, 29);
  color: white;
}

.search_bar > input {
  width: 18vmax;
  height: 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
  padding: 0 20px;
}

.navlinks {
  display: flex;
}

.navlinks > h3 {
  margin-right: 25px;
  font-size: 16px;
}

.home_link {
  display: flex;
}

.icons {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header_container {
    flex-direction: column;
    padding: 10px;
  }

  .search_bar > input {
    width: 42vmax;
    height: 30px;
    font-size: 14px;
    border-radius: 15px;
    padding: 0 15px;
  }
}
